<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'base/head.html' %}

    <link href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" rel="stylesheet"/>
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="{% static 'img/logo/111.jpg' %}" alt="AdminLTELogo" height="100" width="100">
    </div>

    <!-- Navbar -->
    {% include 'base/rightNav.html' %}
    <!-- /.navbar -->


    <!-- side bar Nav -->
    <!-- Sidebar Menu -->
    {% include 'base/sidenav.html' %}
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <!--
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">Dashboard v1</li>
                      -->
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>3</h3>

                            <p>Affiliates</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-android-clipboard"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>5<sup style="font-size: 20px"></sup></h3>

                            <p>Services</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>7891</h3>

                            <p>Active Users</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>6934</h3>

                            <p>Deactivated Users</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion ion-ios-contact-outline"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->

            <div class="card">
                <div style="background-color: #BD1E51" class="card-header">
                    <h4 style="color: white">Users Overview</h4>
                </div>
                <br>

                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-6 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="card">
                            <div class="card-header" style="background: #a2e4fc">
                                <h3 class="card-title">
                                    <i class="fas fa-chart-pie mr-1"></i>
                                    Users By Affiliates
                                </h3>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content p-0">
                                    <!-- Morris chart - Sales -->
                                    <div class="chart tab-pane active" id="revenue-chart"
                                         style="position: relative; height: 350px;">
                                        <canvas id="myChart7"></canvas>
                                    </div>
                                    <div class="chart tab-pane" id="sales-chart"
                                         style="position: relative; height: 350px;">
                                        <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
                                    </div>
                                </div>
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->


                    </section>
                    <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <section class="col-lg-6 ">
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="card">
                            <div class="card-header" style="background: #a2e4fc">
                                <h3 class="card-title">
                                    <i class="fas fa-chart-pie mr-1"></i>
                                    Services
                                </h3>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content p-0">
                                    <!-- Morris chart - Sales -->
                                    <div class="chart tab-pane active" id="revenue-chart"
                                         style="position: relative; height: 350px;">
                                        <div id="wdr-component"></div>
                                    </div>
                                    <div class="chart tab-pane" id="sales-chart"
                                         style="position: relative; height: 350px;">

                                    </div>
                                </div>
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->


                    </section>
                    <!-- right col -->
                </div>
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- footer -->
{% include 'base/footer.html' %}


<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- JavaScript File -->
{% include 'base/js.html' %}
</body>
<script>
    function search_animal() {
        let input = document.getElementById('searchbar2').value
        input = input.toLowerCase();
        let x = document.getElementsByClassName('nav-item');

        for (i = 0; i < x.length; i++) {
            if (!x[i].innerHTML.toLowerCase().includes(input)) {
                x[i].style.display = "none";
            } else {
                x[i].style.display = "list-item";
            }
        }
    }
</script>

<script>
    var endpoint = '/api/affiliateuser'

    var active = [];
    var deactive = [];
    var total = [];


    var endpoint2 = '/home/api/contingency'
    var table = [];
    var simu = [];


    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {


            active = data.active
            deactive = data.deactive
            total = data.total

            setChart()

        },
        error: function (error_data) {
            console.log("error")
            console.log(error_data)
        }
    })

    $.ajax({
        method: "GET",
        url: endpoint2,
        success: function (data) {

            table = data.table
            simu = data.simu

            setChart2()

        },
        error: function (error_data) {
            console.log("error")
            console.log(error_data)
        }
    })

    function setChart() {

        var ctx7 = document.getElementById("myChart7");
        ctx7.height = 150

        var myChart77 = new Chart(ctx7, {
            type: 'bar',
            data: {
                labels: ['aff_2', 'aff_3', 'aff_4','Others'],
                datasets: [
                    {
                        label: 'Active Users',
                        data: active,
                        backgroundColor: [
                            'rgba(17,250,0,0.2)',
                            'rgba(17,250,0,0.2)',
                            'rgba(17,250,0,0.2)',
                            'rgba(17,250,0,0.2)',

                        ],
                        borderColor: [
                            'rgba(17,250,0)',
                            'rgba(17,250,0)',
                            'rgba(17,250,0)',
                            'rgba(17,250,0)',

                        ],
                        borderWidth: 1


                    },

                    {
                        label: 'Deactivated Users',
                        data: deactive,
                        backgroundColor: [
                            'rgba(238,13,52,0.2)',
                            'rgba(238,13,52,0.2)',
                            'rgba(238,13,52,0.2)',
                            'rgba(238,13,52,0.2)',

                        ],
                        borderColor: [
                            'rgba(238,13,52)',
                            'rgba(238,13,52)',
                            'rgba(238,13,52)',
                            'rgba(238,13,52)',

                        ],
                        borderWidth: 1
                    },

                    {
                        label: 'Total Users',
                        data: total,
                        backgroundColor: [
                            'rgba(8,0,250,0.2)',
                            'rgba(8,0,250,0.2)',
                            'rgba(8,0,250,0.2)',

                        ],
                        borderColor: [
                            'rgba(8,0,250)',
                            'rgba(8,0,250)',
                            'rgba(8,0,250)',

                        ],
                        borderWidth: 1


                    },

                ]
            },
            options:
                {

                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        labels: {
                            render: 'value'
                        }
                    }
                }


        });


    }


    function setChart2() {

        var ctx72 = document.getElementById("myChart");
        ctx72.height = 150

        var myChart772 = new Chart(ctx72, {
            type: 'bar',
            data: {
                labels: ['Contingency'],
                datasets: [
                    {
                        label: 'Table Top Test',
                        data: table,
                        borderWidth: 3,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgb(255, 99, 132)',


                    },

                    {
                        label: 'Simulation Plans',
                        data: simu,
                        borderWidth: 3,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgb(75, 192, 192)',


                    },


                ]
            },
            options: {
                tooltips: {
                    displayColors: true,
                    callbacks: {
                        mode: 'x',
                    },
                },
                scales: {
                    xAxes: [{
                        stacked: false,
                        gridLines: {
                            display: false,
                        }
                    }],
                    yAxes: [{

                        stacked: false,

                        ticks: {
                            min: 0, // it is for ignoring negative step.
                            beginAtZero: true,
                            stepSize: 5,
                            max: 35,
                            callback: function (value, index, values) {
                                if (Math.floor(value) === value) {
                                    return value;
                                }
                            }
                        },
                        type: 'linear',
                    }]
                },

            }


        });


    }


</script>
<script>
    var pivot = new WebDataRocks({
        container: "#wdr-component",
        toolbar: false,
        report: {
            dataSource: {

                type: "csv",
                filename: "{% url 'affiliate_service' %}",


            },

            slice: {
                rows: [{
                    uniqueName: "affiliate"
                },
                    {
                        uniqueName: "service"
                    }],
                columns: [
                    {
                        uniqueName: "is_active",
                    },
                    {
                        uniqueName: "[Measures]",
                    },


                ],
                measures: [{
                    "uniqueName": "user_id",
                    "aggregation": "sum",
                    "format": "2sfou03a"
                }],

            },
        },

    });

</script>
</html>
